
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    .azeret-mono-<normal> {
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
}
/* shared code start */
.center{
    text-align: center;
}
.second-heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
/* shared code end */
/* banner start */
.banner-bg{
    background-image: url(../images/hero-bg.png );
    background-position: cover;
    height: 600px;
}
.banner-container{
    text-align: center;
    margin-top: 26px;
}
.heading{
    font-weight: 800;
    font-size: 48px;
}
.description{
    font-weight: 400;
    font-size:20px;
    margin-top: 24px;
}
.contact-button{
    margin-top: 32px;
    margin-bottom: 44px;
    font-size: 20px;
    width: 208px;
    height: 66px;
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
}
/* main start */
main{
    max-width: 1140px;
    margin: auto;
}
.web-dev{
    text-align: center;
    margin-top: 144px;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.skill2-container{
    display: flex;
    gap: 40px;
    text-align: left;
}

video{
    width: 1000px;
    height: 500px;

}

/* main end */
