
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
        font-family: "Azeret Mono", monospace;

}
/* shared code start */
.center{
    text-align: center;
}
.second-heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.btn{
    text-decoration: none;
}
/* shared code end */
/* banner start */
.banner-bg{
    background-image: url(../images/hero-bg.png );
    background-position: cover;
    height: 600px;
}
.banner-container{
    text-align: center;
    margin-top: 26px;
}
.heading{
    font-weight: 800;
    font-size: 48px;
}
.description{
    font-weight: 400;
    font-size:20px;
    margin-top: 24px;
}
.contact-button{
    margin-top: 32px;
    margin-bottom: 44px;
    font-size: 20px;
    width: 208px;
    height: 66px;
    background-color: black;
    color:white;
    border-radius: 8px;
}
.c_btn{
    color: white;
}
/* main start */
main{
    max-width: 1140px;
    margin: auto;
}
.web-dev-container{
  
    text-align: center;
    margin-top: 144px;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.skill2-container{
    display: flex;
    gap: 40px;
    text-align: left;
   
}

video{
    width: 1140px;
    height: 500px;
    /* border: 5px solid red; */

}
/* target start */
 
  .targets-container{
    display: flex;
    gap: 24px;
  }
  .target{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  }
  .colorh{
    background-color:#FFCBCB;
  }
  .colorc{
    background-color:#E2BBE9;
  } .colorj{
    background-color:#FFF5E1;
  }
  /* target end */
  /* support start */
  .support-container{
        text-align: center;
        margin-top: 70px;
        background-image: url(../images/handshake.jpg );
        height: 315px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
       
  }
  .support-heading{
    padding-top: 70px;
    font-size: 50px;
    font-weight: 700;
    color: white;
  }
 .support-container input{
    width: 516px;
    height: 39px;
    border: none;
    color: white;
    border-radius: 8px;
 }
 .support-container button{
    width: 120px;
    height:39px ;
    border: none;
    border-radius: 8px;


 }
  /* support end */

/* main end */
/* footer start */
.end{
    margin-top: 80px;
    width: 1250px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
.f-heading{
    font-weight: 600;
    font-size: 16px;
}
.footer ul li{
    display: inline;
    gap: 15px;
}
/* footer end */